:root{
    /* Colors */
    --color-primary : #ee5057;
    --color-secondry : #111;
    --color-text : #898989;
    /* fonts */

    --font-primary : 'Open Sans', Arial, Helvetica, sans-serif;
    --font-bold :700;
    --font-light:400;
    --font-size-text : 13px;
    --font-size-title : 20px;
    --font-size-section-title : 48px;

    /* size */
   
     --size-primary:25px;
    --marign-primary: var(--size-primary);
    --padding-primary: var(--size-primary);
    --height-primary: 120px;

    /* media queries */

    --md :768px

 
}



@media(min-width:768px)
{
 

.navbar{

    height: var(--height-primary);

}
.navbar .nav-item .nav-link{


    padding: 25px  var(--padding-primary);
    
    /* background: #ee5057; */
}


}

.navbar .nav-item .nav-link{


    padding-right:var(--padding-primary) ;
    padding-left: var(--padding-primary); 

   
    
    /* background: #ee5057; */
}


.navbar .nav-item .nav-link:hover{
    /* background: var(--color-primary); */
    background: rgb(71, 70, 70);
    color: white;
}

.hero{
 
    display: flex;
    justify-content: center;
    align-items: center;
}



.search-input{
    display: flex;
    flex-wrap: wrap;
    background: white;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px 30px;
}
.form-group{
    flex: 1 25%;
    position: relative;
}

.form-group i {
    display: flex;
    position: absolute;
   
    top:10px;
    left: 4px;
    align-items: center;
}

.form-group .form-control{
    padding-left: 20px;
    padding-right: 20px;
    
}


/* css table */

table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

table th {
    text-transform: uppercase;
}

th,td {
    padding: 5px;
}

.table-container{
    margin: 5px;
}


#update , #delete{
    font-size: 14px;
    width: 50px;
    
    
    
}

 #delete{
    background: rgb(241, 31, 31);
    
    
}
.footer{
    margin-top: 25px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerB{
    margin-top: 25px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.index_buttons {
    display: flex;
    justify-content: space-between;
    
}

.index_buttons button {
    display: inline;
    justify-content: space-between;
    text-align: center;
    background: #898989;
}

.index_buttonsB {
    display: flex;
    justify-content: space-between;
    
}

.index_buttonsB button {
    display: inline;
    justify-content: space-between;
    text-align: center;
    background: #898989;
}


.Search-Container{
    display: flex;
    margin: 3px 10px;
   width: 50%;
}



.section-gray{
   background-color: white;
} 


.main-slider {
    
    
    
    background : white ;
 
    margin-left: 12px;


 

}

.main-slider  .level-silder  .level-silder-item{
    margin-left: 7x;
}

.main-slider .card{
    padding: 12px;
    background-color: #f4f0f0;
    color: rgb(99, 96, 96);
    border: white 5px solid;
    border-radius: 25px;

    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
    
   
}




.level-silder-item {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.level-silder-Details{
    padding: 20px
}

.main-slider img{
    width: 100%;
}

.landing img{
    /* background: url("/assets/img/hero1.jpg") no-repeat center center /cover; */

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;

}

.mySlides{
    height: 500px;
}







.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 250px;
    transition: 0.5s ease-in;
}

.main-slider .card:hover{
    transform: scale(1.09);
}
.tag {
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 5px;

    margin: 2px;
    display: inline-block;
}


#transactionForm , #Mytable3 {
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

h2{
    text-align: center;
    background: #111;
    color: white;
    border-radius: 20px ;
}

/* #Mytable3{

    display:flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

} */


/* .form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
} */



.modal {
    display: none; /* مخفي بشكل افتراضي */
    position: fixed; /* يبقى في مكانه */
    z-index: 1; /* فوق كل العناصر الأخرى */
    left: 0;
    top: 0;
    width: 100%; /* عرض كامل */
    height: 100%; /* ارتفاع كامل */
    overflow: auto; /* تمكين التمرير إذا لزم الأمر */
    background-color: rgb(0,0,0); /* لون الخلفية */
    background-color: rgba(0,0,0,0.4); /* لون الخلفية مع الشفافية */
}
/* تنسيق محتوى الـ Dialog */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% من الأعلى ووسط الصفحة */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* عرض 80% من الشاشة */
}
/* زر إغلاق */
.close {
    color: #020202;
    float: right;
    font-size: 28px;
    font-weight: bold;
   
  align-items: start;
}
.close:hover,
.close:focus {
    color: rgb(244, 5, 5);
    text-decoration: none;
    cursor: pointer;
 
  
}
